<div class="title-area cf">
    <h2><%_ request/virlab/title %></h2>
</div>

<div class="pd2">
    <div class="cf">
        <div class="w-33 aright pdr clr-gray">
            <em class="note-red">*</em><%_ request/virlab/type %>
        </div>
        <div class="w-66 fr">
            <span class="inp-w3 select2 request-type"></span>
        </div>
    </div>

    <div class="cf mrt">
        <div class="w-33 aright pdr clr-gray">
            <em class="note-red">*</em><%_ request/virlab/description %>
        </div>
        <div class="w-66 fr">
            <textarea name="" id="" spellcheck="true" class="w-100 request-description" data-placeholder="<%_ request/virlab/request-description %>"></textarea>
        </div>
    </div>
    <div class="cf mrt">
        <div class="w-33 aright pdr clr-gray">
            <%_ request/virlab/notifications %>
        </div>
        <div class="w-66 fr">
            <input type="text" class="inp-w100 request-email" value="" data-placeholder="<%_ request/virlab/email-placeholder %>" />
        </div>
    </div>

    <div class="cf mrt">
        <div class="w-33 aright pdr clr-gray"><%_ request/virlab/attachedfiles/title %></div>
        <div class="w-66">
            <div class="file-attachment request-files">
                <!-- file upload block -->
            </div>
            
            <div class="buttonbar-region">
                <!-- region with send and cansel buttons -->
            </div>
        </div>
    </div>
</div>
