<?xml version="1.0" encoding="utf-8" ?>
<LoggingAndTracingSettings>
  <!-- Настройки логирования -->
  <add key="log4net.Internal.Debug" value="false" />
  <add key="IsUseLog4Net" value="false" />  <!-- Можно ли использовать прямое обрашение к log4net -->
  <add key="IsThrowExceptionEnabled" value="false" /> <!-- Выбрасывать ли возникшие исключения из TraceListenerLogger -->
  <add key="IsEnabledOwinLogger" value="true" /> <!-- Настройка включения логирования в Owin модуле -->
  <add key="IsEnabledPerformanceLogger" value="true" />  <!-- Настройка включения логирования производительности -->
  <add key="IsWriteMeasureStartMessagePerformanceLogger" value="true" /> <!-- Следует ли писать сообщение о начале измерений (может потребоваться при обработке даннных) -->
  <add key="PerformanceLoggerThrowException" value="true" />  <!-- Выбрасывать ли возникшие исключения из PerformanceLogger  -->
  <add key="IsTraceEnabled" value="true" /> <!-- Настройка включения внутреннего логгирования (ошибки логгеров)-->
  <add key="LoggerThrowException" value="false" />  <!-- Выбрасывать ли возникшие исключения из Logger  -->
  <add key="HttpTraceWriterThrowException" value="false" />
  <!-- Информация о запросе -->
  <add key="RequestIdHeaderName" value="X-Request-Id" />  <!-- Имя хедера для идентификатора AJAX-запроса -->
  <add key="TransactionIdHeaderName" value="Transaction-Id" />  <!-- Имя хедера для идентификатора транзакции -->
  <add key="OwinRequestIdHeaderName" value="owin.RequestId" />  <!-- Имя, по которому RequestID хранится в инфраструктуре OWIN -->
  <add key="OwinTransactionIdHeaderName" value="owin.TransactionId" />  <!-- Имя, по которому идентификатор транзакции хранится в инфраструктуре OWIN -->
  <add key="OwinRequestInfoContainer" value="owin.RequestInfoContainer" />  <!-- Имя, по которому контейнер идентификаторов запроса и транзакции хранится в инфраструктуре OWIN -->
  <add key="RequestIdMessageHeaderName" value="http://companyaccount.kaspersky.com~RequestId" />  <!-- Имя заголовка сообщения SOAP, по которому доступен идентификатор запроса -->
  <add key="TransactionIdMessageHeaderName" value="http://companyaccount.kaspersky.com~TransactionId" />  <!-- Имя заголовка сообщения SOAP, по которому доступен идентификатор транзакции -->
  <add key="CurrentUserMessageHeaderName" value="http://companyaccount.kaspersky.com~CurrentUser" />  <!-- Имя заголовка сообщения SOAP, по которому доступен текущий пользователь-->
</LoggingAndTracingSettings>