<div class="title-area cf">
    <h2><%_ request/ca/title %></h2>
</div>

<div class="pd2">

    <div class="cf">
        <div class="w-33 aright pdr clr-gray">
            <em class="note-red">*</em><%_ request/ca/theme %>
        </div>
        <div class="w-66 fr"><input type="text" class="inp-w100 request-theme" value="" data-placeholder="<%_ request/ca/request-theme %>" /></div>
    </div>

    <div class="cf mrt">
        <div class="w-33 aright pdr clr-gray">
            <em class="note-red">*</em><%_ request/ca/description %>
        </div>
        <div class="w-66 fr">
            <textarea name="" id="" spellcheck="true" class="w-100 request-description" data-placeholder="<%_ request/ca/request-description %>"></textarea>
        </div>
    </div>

    <div class="cf mrt">
        <div class="w-33 aright pdr clr-gray"><%_ request/ca/attachedfiles/title %></div>
        <div class="w-66">
            <div class="file-attachment request-files">
                <!-- file upload control -->
            </div>

            <div class="buttonbar-region">
                <!-- region with send and cansel buttons -->
            </div>
        </div>
    </div>
</div>
