<?xml version="1.0" encoding="utf-8" ?>
<ValidationFileSettings>
  <add key="ValidationFileSettingsPath" value="bin\Configuration\Validation\ValidationFileSettings.xml" />
  <add key="LogoFileNameExtensions" value="jpg, jpeg, png, gif"/> <!-- Список поддерживаемых расширений для логотипа -->
  <add key="LogoMaxFileSize" value="1048576" /> <!-- Максимально допустимый размер файла логотипа: 1 * 1024 * 1024 = 1 MB -->
  <add key="VerifyKeyPath" value="C:\Services\VerifyKey\VerifyKey.exe" />
</ValidationFileSettings>