<?xml version="1.0" encoding="utf-8" ?>
<ValidationDtoSettings>
  <add key="ValidationDtoSettingsPath" value="bin\Configuration\Validation\ValidationDtoSettings.xml"/>
  <add key="ActivationCodeRuleRegularExpression" value="\w{5}-\w{5}-\w{5}-\w{5}" />
  <add key="PasswordRuleRegularExpression" value="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&amp;*-])\S{8,}$" />
  <add key="EmailRuleRegularExpression" value="([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}" />
  <add key="MultiEmailSeparator" value=";" />
  <add key="TextMaxLengthLimitRuleSettings" value="10485760" /> <!-- Максимально допустимый размер для текстовых полей в Remedy: 10 * 1024 * 1024 = 10 MB -->
  <add key="ValidationLanguages" value="en_US, ja_JP, ru_RU, it_IT, es_ES, pl_PL, fr_FR, de_DE, pt_BR" /> <!-- Список языков для валидации -->
</ValidationDtoSettings>