<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="CompanyAccountSectionGroup">
      <section name="RemedySettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="BlockingSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="BusinessCommonSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="BusinessSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="LicenseSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="RequestSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="ContractSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="SessionSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="FileAgreementSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="CompanySettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="UserSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="LoggingAndTracingSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="FileSizeSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="FtpSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="ValidationDtoSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="ValidationFileSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
    </sectionGroup>
    <section name="unityParent" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="unityChild" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <CompanyAccountSectionGroup>
    <RemedySettings configSource="bin\Configuration\Technical\RemedySettings.config"/>
    <BlockingSettings configSource="bin\Configuration\Business\BlockingSettings.config"/>
    <BusinessCommonSettings configSource="bin\Configuration\Business\BusinessCommonSettings.config"/>
    <BusinessSettings configSource="bin\Configuration\Business\BusinessSettings.config"/>
    <LicenseSettings configSource="bin\Configuration\Business\LicenseSettings.config"/>
    <RequestSettings configSource="bin\Configuration\Business\RequestSettings.config"/>
    <ContractSettings configSource="bin\Configuration\Business\ContractSettings.config"/>
    <SessionSettings configSource="bin\Configuration\Business\SessionSettings.config"/>
    <FileAgreementSettings configSource="bin\Configuration\Business\FileAgreementSettings.config"/>
    <CompanySettings configSource="bin\Configuration\Business\CompanySettings.config"/>
    <UserSettings configSource="bin\Configuration\Business\UserSettings.config"/>
    <LoggingAndTracingSettings configSource="bin\Configuration\Logging\LoggingAndTracingSettings.config"/>
    <FileSizeSettings configSource="bin\Configuration\Business\FileSizeSettings.config"/>
    <FtpSettings configSource="bin\Configuration\Business\FtpSettings.config"/>
    <ValidationDtoSettings configSource="bin\Configuration\Validation\ValidationDtoSettings.config"/>
    <ValidationFileSettings configSource="bin\Configuration\Validation\ValidationFileSettings.config"/>
  </CompanyAccountSectionGroup>

  <unityParent configSource="UnityParent.config" />
  <unityChild configSource="UnityChild.config" />
  
  <appSettings>

    <add key="IncorrectLoginCountForBlocking" value="10" />
    <!--Количество неверных попыток входа с одного ip до включения временной блокировки-->
    <add key="IncorrectLoginBlockingTime" value="1800" />
    <!--Время временной блокировки пользователя в секундах-->
    
    <!-- Настройки ASP.NET -->
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <!-- Настройки Remedy (Должны удалиться, так как вынесены в отдельный конфигурационный файл RemedySettings.config -->
    <add key="RemedyServer" value="cssappstg.avp.ru" />
    <add key="RemedyPort" value="50111" />
    <add key="RemedyUser" value="ws_ca" />
    <add key="RemedyPassword" value="B~Yr&quot;)L{r9~4wFC" />
    <add key="UseCertificate" value="true" />
    <add key="CertificateSubjectName" value="NEWCACONFIGCERT" />
   
    <add key="ConfigurationFilesBasePath" value="bin\Configuration\" />
    <add key="LoggingFilesPath" value="Logging\"/>

    <!-- Настройки логгирования-->
    <add key="IsUseLog4net" value="false" />  <!-- Можно ли использовать прямое обрашение к log4net -->
    <add key="IsEnabled_PerformanceLogger" value="true" />  <!-- Настройка включения логирования производительности -->
    <add key="IsWriteMeasureStartMessage_PerformanceLogger" value="true" /> <!-- Следует ли писать сообщение о начале измерений (может потребоваться при обработке даннных) -->
    <add key="PerformanceLoggerThrowException" value="false" /> <!-- Выбрасывать ли возникшие исключения из PerformanceLogger  -->
    <add key="IsTraceEnabled" value="false" /> <!-- Настройка включения внутреннего логгирования (ошибки логгеров)-->
    <add key="LoggerThrowException" value="false" />  <!-- Выбрасывать ли возникшие исключения из Logger  -->
    <add key="HttpTraceWriterThrowException" value="false" /> <!-- Выбрасывать ли возникшие исключения из HttpTraceWriter  -->
  </appSettings>
  
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="loggerBehavior" type="KasperskyLab.CompanyAccount.WcfInfrastructure.Logging.LoggerBehaviorExtensionElement, KasperskyLab.CompanyAccount.WcfInfrastructure, Version=1.0.0.0, Culture=neutral" />
        <add name="errorBehavior" type="KasperskyLab.CompanyAccount.WcfServiceWrapper.Behaviors.ErrorBehaviorExtensionElement, KasperskyLab.CompanyAccount.WcfServiceWrapper, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add name="perfLoggerBehavior" type="KasperskyLab.CompanyAccount.WcfInfrastructure.Logging.PerfomaceLoggerExtensionElement, KasperskyLab.CompanyAccount.WcfInfrastructure, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <!--<loggerBehavior />-->
          <errorBehavior />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" bindingConfiguration="UserServiceClientBinding_TEST" />
      <add binding="basicHttpBinding" scheme="http" bindingConfiguration="UserServiceClientBinding_DEV" />
    </protocolMapping>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add factory="KasperskyLab.CompanyAccount.WcfServiceWrapper.Ioc.WcfServiceFactory" relativeAddress="./BroadcastService.svc" service="KasperskyLab.CompanyAccount.ServicesImpl.Broadcast.BroadcastService" />
        <add factory="KasperskyLab.CompanyAccount.WcfServiceWrapper.Ioc.WcfServiceFactory" relativeAddress="./CompanyService.svc" service="KasperskyLab.CompanyAccount.ServicesImpl.Company.CompanyService" />
        <add factory="KasperskyLab.CompanyAccount.WcfServiceWrapper.Ioc.WcfServiceFactory" relativeAddress="./ContractService.svc" service="KasperskyLab.CompanyAccount.ServicesImpl.Contract.ContractService" />
        <add factory="KasperskyLab.CompanyAccount.WcfServiceWrapper.Ioc.WcfServiceFactory" relativeAddress="./CultureService.svc" service="KasperskyLab.CompanyAccount.ServicesImpl.Culture.CultureService" />
        <add factory="KasperskyLab.CompanyAccount.WcfServiceWrapper.Ioc.WcfServiceFactory" relativeAddress="./FileAgreementService.svc" service="KasperskyLab.CompanyAccount.ServicesImpl.FileAgreement.FileAgreementService" />
        <add factory="KasperskyLab.CompanyAccount.WcfServiceWrapper.Ioc.WcfServiceFactory" relativeAddress="./LicenseService.svc" service="KasperskyLab.CompanyAccount.ServicesImpl.License.LicenseService" />
        <add factory="KasperskyLab.CompanyAccount.WcfServiceWrapper.Ioc.WcfServiceFactory" relativeAddress="./RequestService.svc" service="KasperskyLab.CompanyAccount.ServicesImpl.Request.RequestService" />
        <add factory="KasperskyLab.CompanyAccount.WcfServiceWrapper.Ioc.WcfServiceFactory" relativeAddress="./UserService.svc" service="KasperskyLab.CompanyAccount.ServicesImpl.User.UserService" />
        <add factory="KasperskyLab.CompanyAccount.WcfServiceWrapper.Ioc.WcfServiceFactory" relativeAddress="./DiagnosticService.svc" service="KasperskyLab.CompanyAccount.ServicesImpl.Diagnostic.DiagnosticService" />
        <add factory="KasperskyLab.CompanyAccount.WcfServiceWrapper.Ioc.WcfServiceFactory" relativeAddress="./StsAuthenticationService.svc" service="KasperskyLab.CompanyAccount.ServicesImpl.StsAuthentication.StsAuthenticationService" />
        <add factory="KasperskyLab.CompanyAccount.WcfServiceWrapper.Ioc.WcfServiceFactory" relativeAddress="./SessionService.svc" service="KasperskyLab.CompanyAccount.ServicesImpl.Session.SessionService" />
        <add factory="KasperskyLab.CompanyAccount.WcfServiceWrapper.Ioc.WcfServiceFactory" relativeAddress="./BlockingService.svc" service="KasperskyLab.CompanyAccount.ServicesImpl.Blocking.BlockingService" />
      </serviceActivations>
    </serviceHostingEnvironment>
    
    <bindings>
      <!--Биндинги для тестовой среды и Stage-->
      <basicHttpsBinding>
        <binding name="RequestServiceClientBinding_TEST" maxBufferPoolSize="547483647" maxBufferSize="547483647" maxReceivedMessageSize="547483647" sendTimeout="00:04:00">
          <security mode="Transport">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      
        <binding name="CommonServiceClientBinding_TEST" maxBufferPoolSize="547483647" maxBufferSize="547483647" maxReceivedMessageSize="547483647" sendTimeout="00:01:00">
          <security mode="Transport">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      
      </basicHttpsBinding>
      <!--Биндинги для DEV среды-->
      <basicHttpBinding>
        <binding name="RequestServiceClientBinding_DEV" maxBufferPoolSize="547483647" maxBufferSize="547483647" maxReceivedMessageSize="547483647" sendTimeout="00:04:00">
        </binding>
      
        <binding name="CommonServiceClientBinding_DEV" maxBufferPoolSize="547483647" maxBufferSize="547483647" maxReceivedMessageSize="547483647" sendTimeout="00:01:00">
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <services>
      <service name="KasperskyLab.CompanyAccount.ServicesImpl.User.UserService">
        <endpoint name="UserServiceClientEndpoint_TEST" binding="basicHttpsBinding" bindingNamespace="http://companyaccount.kaspersky.com"
          bindingConfiguration="CommonServiceClientBinding_TEST" contract="KasperskyLab.CompanyAccount.Services.User.IUserService"/>
      </service>

      <service name="KasperskyLab.CompanyAccount.ServicesImpl.Broadcast.BroadcastService">
        <endpoint name="BroadcastServiceClientEndpoint_TEST" binding="basicHttpsBinding" bindingNamespace="http://companyaccount.kaspersky.com"
          bindingConfiguration="CommonServiceClientBinding_TEST" contract="KasperskyLab.CompanyAccount.Services.Broadcast.IBroadcastService"/>
      </service>
      
      <service name="KasperskyLab.CompanyAccount.ServicesImpl.Company.CompanyService">
        <endpoint name="CompanyServiceClientEndpoint_TEST" binding="basicHttpsBinding" bindingNamespace="http://companyaccount.kaspersky.com"
          bindingConfiguration="CommonServiceClientBinding_TEST" contract="KasperskyLab.CompanyAccount.Services.Company.ICompanyService"/>
      </service>

      <service name="KasperskyLab.CompanyAccount.ServicesImpl.Contract.ContractService">
        <endpoint name="ContractServiceClientEndpoint_TEST" binding="basicHttpsBinding" bindingNamespace="http://companyaccount.kaspersky.com"
          bindingConfiguration="CommonServiceClientBinding_TEST" contract="KasperskyLab.CompanyAccount.Services.Contract.IContractService"/>
      </service>

      <service name="KasperskyLab.CompanyAccount.ServicesImpl.Culture.CultureService">
        <endpoint name="CultureServiceClientEndpoint_TEST" binding="basicHttpsBinding" bindingNamespace="http://companyaccount.kaspersky.com"
          bindingConfiguration="CommonServiceClientBinding_TEST" contract="KasperskyLab.CompanyAccount.Services.Culture.ICultureService"/>
      </service>

      <service name="KasperskyLab.CompanyAccount.ServicesImpl.FileAgreement.FileAgreementService">
        <endpoint name="FileAgreementServiceClientEndpoint_TEST" binding="basicHttpsBinding" bindingNamespace="http://companyaccount.kaspersky.com"
          bindingConfiguration="CommonServiceClientBinding_TEST" contract="KasperskyLab.CompanyAccount.Services.FileAgreement.IFileAgreementService"/>
      </service>

      <service name="KasperskyLab.CompanyAccount.ServicesImpl.License.LicenseService">
        <endpoint name="LicenseServiceClientEndpoint_TEST" binding="basicHttpsBinding" bindingNamespace="http://companyaccount.kaspersky.com"
          bindingConfiguration="CommonServiceClientBinding_TEST" contract="KasperskyLab.CompanyAccount.Services.License.ILicenseService"/>
      </service>

      <service name="KasperskyLab.CompanyAccount.ServicesImpl.Request.RequestService">
        <endpoint name="RequestServiceClientEndpoint_TEST" binding="basicHttpsBinding" bindingNamespace="http://companyaccount.kaspersky.com"
          bindingConfiguration="RequestServiceClientBinding_TEST" contract="KasperskyLab.CompanyAccount.Services.Request.IRequestService"/>
      </service>
      
     <service name="KasperskyLab.CompanyAccount.ServicesImpl.Diagnostic.DiagnosticService">
      <endpoint name="DiagnosticServiceClientEndpoint_TEST" binding="basicHttpsBinding" bindingNamespace="http://companyaccount.kaspersky.com"
       bindingConfiguration="CommonServiceClientBinding_TEST" contract="KasperskyLab.CompanyAccount.Services.Diagnostic.IDiagnosticService"/>
     </service>

      <service name="KasperskyLab.CompanyAccount.ServicesImpl.StsAuthentication.StsAuthenticationService">
        <endpoint name="StsAuthenticationClientEndpoint_TEST" binding="basicHttpsBinding" bindingNamespace="http://companyaccount.kaspersky.com"
          bindingConfiguration="CommonServiceClientBinding_TEST" contract="KasperskyLab.CompanyAccount.Services.StsAuthentication.IStsAuthenticationService"/>
      </service>

      <service name="KasperskyLab.CompanyAccount.ServicesImpl.Session.SessionService">
        <endpoint name="SessionServiceClientEndpoint_TEST" binding="basicHttpsBinding" bindingNamespace="http://companyaccount.kaspersky.com"
          bindingConfiguration="CommonServiceClientBinding_TEST" contract="KasperskyLab.CompanyAccount.Services.Session.ISessionService"/>
      </service>
      
     <service name="KasperskyLab.CompanyAccount.ServicesImpl.Blocking.BlockingService">
      <endpoint name="SessionServiceClientEndpoint_TEST" binding="basicHttpsBinding" bindingNamespace="http://companyaccount.kaspersky.com"
       bindingConfiguration="CommonServiceClientBinding_TEST" contract="KasperskyLab.CompanyAccount.Services.Blocking.IBlockingService"/>
     </service>
      
    </services>
    
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" showFlags="None" />
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
