<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="CompanyAccountSectionGroup">
      <section name="StsSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="SignalRSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="CircuitBreakerSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="ExceptionHandlingSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="BusinessSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="BusinessCommonSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="FrontEndSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="FrontEndCommonSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="LoggingAndTracingSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="FileSizeSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="CaptchaImageSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="CaptchaProviderSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="CaptchaGenerationSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="FtpSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="AntiXssEncodingSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="TokenCommonSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="FileProcessorSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="ValidationDtoSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="ValidationFileSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
      <section name="WebLoggingSettings" type="KasperskyLab.CompanyAccount.Infrastructure.Settings.ConfigurationSettingsSection, KasperskyLab.CompanyAccount.Infrastructure"/>
    </sectionGroup>
  </configSections>
  <CompanyAccountSectionGroup>
    <StsSettings configSource="bin\Configuration\Technical\StsSettings.config"/>
    <SignalRSettings configSource="bin\Configuration\Technical\SignalRSettings.config"/>
    <CircuitBreakerSettings configSource="bin\Configuration\Technical\CircuitBreakerSettings.config"/>
    <ExceptionHandlingSettings configSource="bin\Configuration\Technical\ExceptionHandlingSettings.config"/>
    <BusinessSettings configSource="bin\Configuration\Business\BusinessSettings.config"/>
    <BusinessCommonSettings configSource="bin\Configuration\Business\BusinessCommonSettings.config"/>
    <FrontEndSettings configSource="bin\Configuration\Technical\FrontEndSettings.config"/>
    <FrontEndCommonSettings configSource="bin\Configuration\Technical\FrontEndCommonSettings.config"/>
    <LoggingAndTracingSettings configSource="bin\Configuration\Logging\LoggingAndTracingSettings.config"/>
    <FileSizeSettings configSource="bin\Configuration\Business\FileSizeSettings.config"/>
    <CaptchaImageSettings configSource="bin\Configuration\Business\CaptchaImageSettings.config"/>
    <CaptchaProviderSettings configSource="bin\Configuration\Business\CaptchaProviderSettings.config"/>
    <CaptchaGenerationSettings configSource="bin\Configuration\Business\CaptchaGenerationSettings.config"/>
    <FtpSettings configSource="bin\Configuration\Business\FtpSettings.config"/>
    <AntiXssEncodingSettings configSource="bin\Configuration\Business\AntiXssEncodingSettings.config"/>
    <TokenCommonSettings configSource="bin\Configuration\Business\TokenCommonSettings.config"/>
    <FileProcessorSettings configSource="bin\Configuration\Business\FileProcessorSettings.config"/>
    <ValidationDtoSettings configSource="bin\Configuration\Validation\ValidationDtoSettings.config"/>
    <ValidationFileSettings configSource="bin\Configuration\Validation\ValidationFileSettings.config"/>
    <WebLoggingSettings configSource="bin\Configuration\Logging\WebLoggingSettings.config"/>
  </CompanyAccountSectionGroup>
  <appSettings>
    <!-- Настройки ASP.NET -->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    
    <add key="ConfigurationFilesBasePath" value="bin\Configuration\" />
    <add key="LoggingFilesPath" value="Logging\"/>
    <add key="ServicesFilesPath" value="Services\"/>

    <!-- Настройки логирования -->
    <add key="log4net.Internal.Debug" value="false" />
    <add key="IsUseLog4net" value="false" />                                <!-- Можно ли использовать прямое обрашение к log4net -->
    <add key="IsThrowExceptionEnabled" value="false" />                     <!-- Выбрасывать ли возникшие исключения из TraceListenerLogger -->
    <add key="IsEnabled_OwinLogger" value="false" />                         <!-- Настройка включения логирования в Owin модуле -->
    <add key="IsEnabled_PerformanceLogger" value="false" />                  <!-- Настройка включения логирования производительности -->
    <add key="IsWriteMeasureStartMessage_PerformanceLogger" value="true" /> <!-- Следует ли писать сообщение о начале измерений (может потребоваться при обработке даннных) --> 
    <add key="PerformanceLoggerThrowException" value="false" />             <!-- Выбрасывать ли возникшие исключения из PerformanceLogger  --> 
    <add key="IsTraceEnabled" value="false" />                               <!-- Настройка включения внутреннего логгирования (ошибки логгеров)-->
    <add key="LoggerThrowException" value="false" />                        <!-- Выбрасывать ли возникшие исключения из Logger  --> 
    <add key="HttpTraceWriterThrowException" value="false" />
    
    <!-- Информация о запросе -->
    <add key="IgnoreUIRequestId" value="false" />                                                           <!-- Игнорирование Request Id пришедшего с UI (Если настройка true то request id всегда генерирует бекенд) -->
    <add key="RequestIdHeaderName" value="X-Request-Id" />                                                  <!-- Имя хедера для идентификатора AJAX-запроса -->
    <add key="TransactionIdHeaderName" value="Transaction-Id" />                                            <!-- Имя хедера для идентификатора транзакции -->
    <add key="OwinRequestIdHeaderName" value="owin.RequestId" />                                            <!-- Имя по которому RequestID хранится в инфраструктуре OWIN -->
    <add key="OwinTransactionIdHeaderName" value="owin.TransactionId" />                                    <!-- Имя по которому идентификатор транзакции хранится в инфраструктуре OWIN -->
    <add key="OwinRequestInfoContainer" value="owin.RequestInfoContainer" />                                <!-- Имя, по которому контейнер идентификаторов запроса и транзакции хранится в инфраструктуре OWIN -->
    <add key="RequestIdMessageHeaderName" value="http://companyaccount.kaspersky.com~RequestId" />          <!-- Имя заголовка сообщения SOAP, по которому доступен идентификатор запроса -->
    <add key="TransactionIdMessageHeaderName" value="http://companyaccount.kaspersky.com~TransactionId" />  <!-- Имя заголовка сообщения SOAP, по которому доступен идентификатор транзакции -->
    <add key="CurrentUserMessageHeaderName" value="http://companyaccount.kaspersky.com~CurrentUser" />      <!-- Имя заголовка сообщения SOAP, по которому доступен текущий пользователь-->
    
    <add key="ConfigDeployPostfix" value="_StageStand" />
    
    <!-- WebSettings.StsSettings -->
    
    <add key="StsUrl_StageStand" value="/STS" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" />
    <!-- maxRequestLength: This will handle requests up to 2 * 1024 * 1024 KB = 2GB (max chunk size)-->
    <!-- executionTimeout: таймаут 4мин 30сек. (на 30 сек выше, чем у WCF сервиса)-->
    <!-- enableVersionHeader: CA-1700 -удаление заголовка X-AspNet-Version (номер версии ASP.NET) из ответа -->
    <!-- maxRequestLength = MaxChunkSize + 1Mb - выставлен равным размеру "чанка" (настройка MaxChunkSize) плюс 1 Мб (для метаинформации идущей вместе с файлом) -->
    <!-- maxRequestLength - для отправки файлов до 2 ГБ в IE8-9, рекомендуется выставить этот параметр в максимально возможный 2ГБ (т.к. IE8-9 не поддерживает отправку файла по частям) -->
    <httpRuntime targetFramework="4.5" maxRequestLength="205824" executionTimeout="270" enableVersionHeader="false" />
    <customErrors mode="On">
      <error statusCode="404" redirect="~/404.html" />
      <error statusCode="500" redirect="~/500.html" />
    </customErrors>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.1" newVersion="1.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <security>
      <requestFiltering>
        <!-- This will handle requests up to 10 * 1024 * 1024 * 1024 B = 10GB, but uint.MaxValue = 2147483648 = 2GB (max chunk size)-->
        <!-- maxAllowedContentLength = MaxChunkSize(в байтах!) + 1Mb - выставлен равным размеру "чанка" (настройка MaxChunkSize) плюс 1 Мб (для метаинформации идущей вместе с файлом) -->
        <!-- maxAllowedContentLength - для отправки файлов до 2 ГБ в IE8-9, рекомендуется выставить этот параметр в максимально возможный 2ГБ (т.к. IE8-9 не поддерживает отправку файла по частям) -->
        <requestLimits maxAllowedContentLength="210763776" />
      </requestFiltering>
    </security>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error responseMode="ExecuteURL" statusCode="404" path="/404.html" />
    </httpErrors>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" /> <!-- CA-1700 Удаление заголовка X-Powered-By из ответа --> 
      </customHeaders>
    </httpProtocol>
    <!--<webSocket enabled="true"/>-->
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="TraceLoggerSource" switchName="Switch">
        <listeners>
          <add name="LoggerErrors" />
        </listeners>
      </source>
      <source name="SignalR.SqlMessageBus">
        <listeners>
          <add name="SignalR-Bus" />
        </listeners>
      </source>
      <source name="SignalR.ServiceBusMessageBus">
        <listeners>
          <add name="SignalR-Bus" />
        </listeners>
      </source>
      <source name="SignalR.RedisMessageBus">
        <listeners>
          <add name="SignalR-Bus" />
        </listeners>
      </source>
      <source name="SignalR.ScaleoutMessageBus">
        <listeners>
          <add name="SignalR-Bus" />
        </listeners>
      </source>
      <source name="SignalR.Transports.WebSocketTransport">
        <listeners>
          <add name="SignalR-Transports" />
        </listeners>
      </source>
      <source name="SignalR.Transports.ServerSentEventsTransport">
        <listeners>
          <add name="SignalR-Transports" />
        </listeners>
      </source>
      <source name="SignalR.Transports.ForeverFrameTransport">
        <listeners>
          <add name="SignalR-Transports" />
        </listeners>
      </source>
      <source name="SignalR.Transports.LongPollingTransport">
        <listeners>
          <add name="SignalR-Transports" />
        </listeners>
      </source>
      <source name="SignalR.Transports.TransportHeartBeat">
        <listeners>
          <add name="SignalR-Transports" />
        </listeners>
      </source>
      <source name="SignalR.ReflectedHubDescriptorProvider">
        <listeners>
          <add name="SignalR-Init" />
        </listeners>
      </source>
    </sources>
    <!-- Sets the trace verbosity level -->
    <switches>
      <add name="SignalRSwitch" value="Verbose" />
      <add name="Switch" value="Verbose" />
    </switches>
    <!-- Specifies the trace writer for output -->
    <sharedListeners>
      <!-- Listener for transport events -->
      <add name="SignalR-Transports" type="System.Diagnostics.TextWriterTraceListener" initializeData="logs/transports.log" />
      <!-- Listener for scaleout provider events -->
      <add name="SignalR-Bus" type="System.Diagnostics.TextWriterTraceListener" initializeData="logs/bus.log" />
      <!-- Listener for hub discovery events -->
      <add name="SignalR-Init" type="System.Diagnostics.TextWriterTraceListener" initializeData="logs/init.log" />
      
      <add name="LoggerErrors" type="System.Diagnostics.TextWriterTraceListener" initializeData="logs/LoggerErrors.log" />
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="logs/log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
