<div class="fl area-logo">
    <div class="cf">
        <a href="javascript://" class="a-logo" onclick="App.Analytics.headerClick('Company logo');">
            <img src="" alt="" class="logo off">
            <!--/Img/logo/kaspersky.png-->
            <span class="spinner">
                <img src="/img/load_indicator.gif" height="21" width="21" alt="" class="mrl mrt">
            </span>
        </a>
        <div>
            <h3 class="user-company-name"></h3>
            <b class="clr-gray">ID: <span class="user-company-id"></span></b>
        </div>
    </div>
</div>

<div class="fr login-pd">
    <span class="btns bt-login">
        <a href="javascript://" class="bg-black user-login" onclick="App.Analytics.headerClick('Profile');"></a><a href="javascript://" class="bg-green account-logout" onclick="App.Analytics.headerClick('Sign out');"><%_ header/menu/signout %></a>
    </span>
</div>
