<textarea name="" id="" spellcheck="true" class="w-100 request-text" data-placeholder></textarea>

<div class="file-attachment request-files">
    <!-- attach file widget -->
</div>

<div class="mrt">
    <a href="#" class="btn btn-03 bg-green btn-request-send"><%_ request/view/send %></a>
    <span class="err mrl off">
        <!-- Some error message -->
    </span>
    <span class="off process-send-comment">
        <!-- loader spinner -->
        <img src="/img/load_indicator.gif" height="21" width="21" alt="" class="mrr amiddle mrl">
        <i><%_ request/view/send-process %></i>
    </span>
</div>
