<div class="title-area cf">
    <h2 class="fl"><%_ license/list/title %></h2>
    <div class="fr pd amiddle license-add-region">

    </div>
</div>

<div class="pd">
    <div class="cf mrb">
        <div class="fl">
            <span class="sel-cmt"><%_ license/list/filter-by-status-label %></span>
            <span class="sel-cust inp-wa license-status-filter">
                <select class="filter-status">
                    <option value='All'><%_ license/list/filter-by-status/All %></option>
                    <option value='Active'><%_ license/list/filter-by-status/Active %></option>
                    <option value='Expiring'><%_ license/list/filter-by-status/Expiring %></option>
                    <option value='Inactive'><%_ license/list/filter-by-status/Inactive %></option>
                    <option value='Blocked'><%_ license/list/filter-by-status/Blocked %></option>
                </select>
            </span>
        </div>
        <div class="fr">
            <a href="javascript://" class="a-filter a-filter-back"><%_ license/list/expire-date %></a>
        </div>
    </div>

    <div class="license-list-region">
    </div>

    <div class="pager-region">
    </div>

</div>

<div class="modal-region">
</div>

<div class="backdrop-region">
</div>