<div class="title-area cf">
    <h2><%_ request/feedback/title %></h2>
</div>

<div class="pd2">

    <div class="cf">
        <div class="w-33 aright pdr clr-gray"> </div> 
        <div class="w-66 fr">
            <h3 class="clr-gray"><%_ request/feedback/note %></h3>
        </div>
    </div>

    <div class="cf mrt">
        <div class="w-33 aright pdr clr-gray">
            <em class="note-red">*</em><%_ request/feedback/theme %>
        </div>
        <div class="w-66 fr">
            <span class="inp-w100 select2 request-theme"></span>
        </div>
    </div>

    <div class="cf mrt">
        <div class="w-33 aright pdr clr-gray">
            <em class="note-red">*</em><%_ request/feedback/description %>
        </div>
        <div class="w-66 fr">
            <textarea name="" id="" spellcheck="false" class="w-100 request-description" data-placeholder="<%_ request/feedback/description-placeholder %>"></textarea>
        </div>
    </div>

    <div class="cf mrt">
        <div class="w-33 aright pdr clr-gray">
            <%_ request/feedback/request %>
        </div>
        <div class="w-66 fr">
            <span class="inp-w100 select2 request-number"></span>
        </div>
    </div>

    <div class="cf mrt">
        <div class="w-33 aright pdr clr-gray"> </div> 
        <div class="w-66">
            <div class="buttonbar-region">
                <!-- region with send and cansel buttons -->
            </div>
        </div>
    </div>
</div>
