<div class="captcha-view off">
    <div class="captcha-label"><%_ captcha/label %></div>
    <div class="cf">
        <div class="fl">
            <img class="captcha-img">
        </div>
        <div class="fr">
            <input type="text" class="captcha" data-placeholder="<%_ captcha/placeholder %>" style="width: 100%;">
        </div>
    </div>
</div>
<div class="loading-region mrb">
    <img src="/img/load_indicator.gif" height="21" width="21" alt="" class="mrr amiddle"><i><%_ captcha/loading %></i>
</div>
