<div class="modal-win">
    <a href="javascript://" class="btn-close wp-close"></a>
    <div class="modal-note">
        <%= AgreementText %>
    </div>
    <div class="cf accept-controls">
        <div class="fl">
            <input type="checkbox" id="c-agree-01" name="cc" data="agree-01" class="file-agreements-checkbox">
            <label for="c-agree-01">
                <span></span> <%_ file-agreement/accept-text %>
            </label>
            <div class="err off" style="margin-top: 10px;">
                <%_ file-agreement/error %>
            </div>
        </div>
        <div class="fr" id="agree-01">
            <a href="javascript://" class="btn btn-02 bg-gray disabled"> <%_ file-agreement/continue %> </a>
        </div>
    </div>
</div>
