<?xml version="1.0" encoding="utf-8" ?> 
<BlockingSettings>
  <add key="IncorrectLoginCountForBlocking" value="10"/><!--Количество неверных попыток входа с одного ip до включения временной блокировки-->
  <add key="IncorrectLoginBlockingTime" value="1800"/><!--Время временной блокировки пользователя в секундах-->
</BlockingSettings>