<?xml version="1.0" encoding="utf-8" ?>
<BusinessCommonSettings>
  <add key="TechnicalSupportRequestSrdInstanceId" value="SR0050568C694FM7HaTA0A4VBgsjIB"/>
  <add key="AmrSrdInstanceId" value="SR00505698000Fff7lTQAcy_GQVtAG"/>
  <add key="CsrSrdInstanceId" value="SR00505698000FONByUAnghQEAfr8O"/>
  <add key="CaQuestionSrdInstanceId" value="SR00505698000F0_wfTgbELqAwe7oC"/>
  <add key="TaSupportSrdInstanceId" value="SR00505698000FWGOxTQXVehBAw30E"/>
  <add key="MsaSupportSrdInstanceId" value="SR00505698000Fp7bsTQTafkEwiYsE"/>
  <add key="MsaAmrSrdInstanceId" value="SR00155D5B0102pEDLVA08FdCg1oAU"/>
  <add key="FeedbackSrdInstanceId" value=""/>
  <add key="AdvancedProtectionServiceSrdInstanceId" value="SR00505698000FMrUHUQP01kzgbNti"/>
  <add key="FeedbackFilterArray" value="320_CSR Signing,370_Feedback"/>
</BusinessCommonSettings>
