<?xml version="1.0" encoding="utf-8" ?>
<FtpSettings>
  <add key="FtpUrl" value="ftp://127.0.0.1:21"/>
  <add key="FtpUserName" value="ftpTestUser"/>
  <add key="FtpPassword" value="ftpTestUser1"/>
  <add key="FtpDataConnectionType" value="AutoActive"/>
  <add key="UploadTempFolderAbsolutePath" value="/tmp"/>  <!--Путь до временной папки на FTP сервере-->
</FtpSettings>