<?xml version="1.0" encoding="utf-8" ?>
<FtpSettings>
  <add key="FtpUrl" value="ftp://hqcsscaftpdev1.avp.ru"/>
  <add key="FtpUserName" value="support"/>
  <add key="FtpPassword" value="wGY2vl3l9WU"/>
  <add key="FtpDataConnectionType" value="PASV"/>
  <add key="UploadTempFolderAbsolutePath" value="/tmp"/>  <!--Путь до временной папки на FTP сервере-->
</FtpSettings>