<?xml version="1.0" encoding="utf-8" ?>
<LicenseSettings>
  <add key="AddLicenseSrdInstanceId" value="SR0050568C694FC0oGTQIUJ3AQCPgC" />
  <add key="RemoveLicenseSrdInstanceId" value="SR0050568C694Fm6zvTAe1BKKQvUgL" />
  <add key="CreateLicenseInstanceIdPrefix" value="CU00155D25D106urBlVQRmuDC" />
  <add key="LicenseUpdateStatusExpiredSeconds" value="300" />
</LicenseSettings>
