<div class="rel">
    <div class="abs-title inp-w1"><%_ profile/delete/title %></div>
</div>
<div class="cf">
    <div class="w-66 fr">
        <p class="note"><%_ profile/delete/description %></p>
        <p><input type="checkbox" class="delete-profile" id="c-agree-02" name="cc" data="agree-02" /><label for="c-agree-02"><span></span><%_ profile/delete/notice %></label></p>

        <div class="mrt2">
            <span id="agree-02">
                <a href="javascript://" class="btn btn-02 bg-gray link-modal-win delete-profile-btn" data="delete-user-cont"><%_ profile/delete/btn %></a>
            </span>

            <span class="delete-profile-wait off"><img src="/img/load_indicator.gif" height="21" width="21" alt="" class="mrr amiddle mrl"><i><%_ profile/delete/process %></i></span>
            <span class="delete-profile-ok ok mrl mrt off"><%_ profile/delete/success %></span>
            <span class="delete-profile-error err mrl mrt off">
                <!-- error message -->
            </span>
        </div>
    </div>
</div>