<div class="rel">
    <div class="abs-title inp-w1"><%_ profile/permissions/title %></div>
</div>
<div class="cf">
    <div class="w-66 fr">
        <p><input type="checkbox" id="che-01" name="cc" class="ViewAllRequests" /><label for="che-01"><span></span><%_ profile/permissions/ViewAllRequests %></label></p>
        <p><input type="checkbox" id="che-05" name="cc" class="EditAllRequests" /><label for="che-05"><span></span><%_ profile/permissions/EditAllRequests %></label></p>
        <p><input type="checkbox" id="che-02" name="cc" class="ManageContacts" /><label for="che-02"><span></span><%_ profile/permissions/ManageContacts %></label></p>
        <p><input type="checkbox" id="che-04" name="cc" class="RemoveLicenses" /><label for="che-04"><span></span><%_ profile/permissions/RemoveLicenses %></label></p>

        <!-- Блок с сохранением изменений-->
        <div class="mrt2">
            <a href="javascript://" class="permissions-save-btn btn btn-02 bg-green"><%_ profile/permissions/saveBtn %></a>

            <span class="permissions-save-wait off"><img src="/img/load_indicator.gif" height="21" width="21" alt="" class="mrr amiddle mrl"><i><%_ profile/permissions/saveWait %></i></span>
            <span class="permissions-save-ok ok mrl off"><%_ profile/permissions/saveSuccess %></span>
            <span class="permissions-save-error err mrl off"><%_ profile/permissions/saveError %></span>
        </div>
    </div>
</div>